<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToGameMode()">Game mode</button>
      <button mat-menu-item (click)="navigateToAdminMode()">Admin mode</button>
      <button mat-menu-item (click)="navigateToAdminMode()">Team View</button>

    </mat-menu>

    <span class="example-spacer"></span>
    <span class="title-as-link" (click)="navigateToAdminMode()">Little Linguist </span>
    <span class="example-spacer"></span>
    
    <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
    </button> 
</mat-toolbar>