<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>מצב משחק</button>
      <button mat-menu-item>מצב ניהול</button>
    </mat-menu>

    <span class="example-spacer"></span>
    <span>Little Linguist</span>
    <span class="example-spacer"></span>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person</mat-icon>
    </button> 
</mat-toolbar>