<div *ngIf="!endgame && WordsCategory.length > 0">
  <app-exit-button></app-exit-button>
  <form #messywordsgame="ngForm" (ngSubmit)="goToNextWord()">
    <div class="tittleGame">
      <h1>Messy Words - {{ category.name }}</h1>
      <div>{{ WordsCategory[wordIndex].target }}</div>
      <div>{{ messyWord }}</div>
      <mat-form-field>
        <mat-label>Guess:</mat-label>
        <input
          matInput
          [(ngModel)]="playerGuess"
          name="Guess"
          #guessplayer="ngModel"
          required
        />
      </mat-form-field>
      <div class="buttonsGame">
        <button
          type="reset"
          mat-raised-button
          color="primary"
          (click)="resetGuess()"
        >
          Reset
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="goToNextWord()"
        >
          Submit
        </button>
      </div>
      <div class="progress-container">
        <span>{{ wordIndex }}</span>
        <mat-progress-bar
          mode="determinate"
          [value]="playerProgress"
        ></mat-progress-bar>
        <span>{{ category.words.length }}></span>
      </div>
    </div>
  </form>
</div>
