:host {
  display: block;
}

.game-title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px; /* Space between columns */
  justify-items: center; /* Horizontally center the middle column */
}

.column {
  padding: 10px;
  margin-left: auto;
}

.column1{
  margin-right: auto;
  display: block;
  font-size: large;

}


.progress-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;

}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px; /* Adjust as needed */
  height: calc(70vh - 40px); /* Subtract padding or other elements */
  width: calc(100vw - 40px); /* Subtract padding or other elements */
  background: radial-gradient(to-right, #f876ef, #9255e7 );
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bigletters{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 15px;
}

.largeletters{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  padding-bottom: 25px;

}

.buttonsGame {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  padding-bottom: 25px;
}

.progressleft{
  font-size:large;
  border-radius: 50px;
 
}

.progress-container{
  font-size:large;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}