<app-header></app-header>

<form class="center-container">
    <div>
        <label>Category Name:</label>
        <mat-form-field>
            <input matInput [(ngModel)]="categoryToEdit.name" name="categoryName" maxlength="50" minlength="1" required>
        </mat-form-field>
    </div>
    <div>
        <label for="sourceLang">Source Language:</label>
        <mat-form-field>
            <input matInput [(ngModel)]="categoryToEdit.origin_lang" name="originLang" maxlength="50" minlength="1"
                required disabled="true">
        </mat-form-field>
    </div>
    <div>
        <label for="targetLang">Target Language:</label>
        <mat-form-field>
            <input matInput [(ngModel)]="categoryToEdit.target_lang" name="targetLang" maxlength="50" minlength="1"
                required disabled="true">
        </mat-form-field>
    </div>

    <div class="wordsMargin">
        <label for="words">Words:</label>
        <button (click)="onAddNewWord()"> + Add new word</button>
        <div *ngFor="let item of categoryToEdit.words">
            <label>Origin</label>
            <mat-form-field>
                <input matInput [(ngModel)]="item.origin" name="itemOrigin" maxlength="50" minlength="1" required
                    pattern="^[A-Za-z]+$" #originWord="ngModel">
                <mat-error *ngIf="originWord.invalid">
                    Word must be in English letters only
                </mat-error>
            </mat-form-field>

            <label>Target</label>
            <mat-form-field>
                <input matInput [(ngModel)]="item.target" name="itemTarget" maxlength="50" minlength="1" required
                pattern="^[א-ת]+$" #targetWord="ngModel">
                <mat-error *ngIf="targetWord.invalid">
                    Word must be in Hebrew letters only
                </mat-error>
            </mat-form-field>

            <button class="space-me" (click)="deleteItem(item)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

    <button type="submit" mat-raised-button color="primary" (click)="save()">Save</button>
</form>

<app-footer></app-footer>