.center-container {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin: 15px;
}
.wordsMargin{
    margin: 15px;
}

.my-label{
    display: inline-block;
    min-width: 130px;
}

.my-words-label {
    margin: auto auto 30px auto;
}