.center-container {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin: 15px;
    position: relative;
    min-height: calc(100vh - 80px);

}
.wordsMargin{
    margin: 15px;
}

.my-label{
    display: inline-block;
    min-width: 130px;
    text-align: center;
}

.my-words-label {
    text-align: center;
    margin: auto auto 30px auto;
}