.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 70px - 70px);
    overflow-y: auto;
    min-width: 60%;
}

.center-me {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.space-me {
    margin: 5px;
}
table {
    min-width: 80%;
}
