.choice-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Adjust if you need space between header, component, and footer */
    height: 70vh; /
}