<div *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div class="container" *ngIf="!isLoading">
  <h1>Your learning:</h1>
  <div class="grid">
    <div class="box">
      <h2>{{ gamesPlayed }}</h2>
      <p>Games Playes</p>
    </div>
    <div class="box">
      <h2>{{ totalPoints }}</h2>
      <p>Points</p>
    </div>
    <div class="box">
      <h2>{{ categoriesLernt }}</h2>
      <p>Categories learnt</p>
    </div>
    <div class="box">
      <h2>{{ categoriesNotLernt }}</h2>
      <p>Categories NOT learnt</p>
    </div>
    <div class="box">
      <h2>{{ categoriesLerntPercent }}%</h2>
      <p>Categories learnt</p>
    </div>
    <div class="box">
      <h2>{{ mostPlayedCategory }}</h2>
      <p>Most Played Category</p>
    </div>

    <div class="box">
      <h2>{{ totalPerfectGamesPercent }}%</h2>
      <p>Perfect games</p>
    </div>
    <div class="box">
      <h2>{{ daysStrike }}</h2>
      <p>Days strike</p>
    </div>
    <div class="box">
      <h2>{{ gamesThisMonth }}</h2>
      <p>Games this month</p>
    </div>
    <div class="box challenge-box">
      <div *ngIf="leftToCompleteChallange <= 0" class="challenge-complete">
        <h2>Challenge Complete!</h2>
        <p>Congratulations! You've achieved your goal.</p>
        <i class="fas fa-trophy"></i>
      </div>
      <div *ngIf="leftToCompleteChallange > 0" class="challenge-progress">
        <h2>Challenge Progress</h2>
        <p>{{ leftToCompleteChallange }} more to complete the challenge!</p>
        <div class="progress-bar">
          <div
            class="progress"
            [style.width]="getProgressPercentage() + '%'"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
