<div class="container">
  <h1>Your learning:</h1>
  <div class="grid">
    <div class="box">
      <h2>10</h2>
      <p>Games</p>
    </div>
    <div class="box">
      <h2>98</h2>
      <p>Points</p>
    </div>
    <div class="box">
      <h2>50</h2>
      <p>Categories learnt</p>
    </div>
    <div class="box">
      <h2>Mixed Letters</h2>
      <p>Highest score game</p>
    </div>
    <div class="box">
      <h2>90%</h2>
      <p>Perfect games</p>
    </div>
    <div class="box">
      <h2>3</h2>
      <p>Days strike</p>
    </div>
    <div class="box">
      <h2>5</h2>
      <p>Games this month<br />15 more to complete Challenge</p>
    </div>
  </div>
</div>
