.mid-table {
    width: 60%;
    min-width: 60%;
}
.game-container{
    margin: 30px;
}
.center-text {
    text-align: center;
    min-width: 200px;
}

.title{
    font-weight: bold;
}

.buttons-container{
    margin: 50px;
    display: flex; 
    justify-content: space-between;
    width: 350px;
}

.buttons-container * {
    transform: scale(1.35);
}

.hide-me{
    visibility: hidden;
}

