.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 70px - 70px);
    overflow-y: auto;
}

.mid-table {
    width: 60%;
    min-width: 60%;
}

.center-text {
    text-align: center;
}

.title{
    font-weight: bold;
}

.buttons-container{
    margin: 50px;
    display: flex; 
    justify-content: space-between;
    width: 350px;
}

.buttons-container * {
    transform: scale(1.35);
}

.hide-me{
    visibility: hidden;
}

