<app-game-points [points]="points"></app-game-points>
<div class="memory-game">
  <div class="card-container" *ngFor="let card of words">
    <div
      class="card"
      role="presentation"
      [class.flipped]="card.isFlipped"
      [class.matched]="card.isMatched"
      (click)="flipCard(card)"
      (keyup)="flipCard(card)"
      tabIndex="{0}"
    >
      <div class="card-front">
        <img
          width="45px"
          [alt]="card.isTarget ? 'Hebrew' : 'English'"
          [src]="
            card.isTarget
              ? 'assets/image/israel.png'
              : 'assets/image/united-states.png'
          "
        />
      </div>
      <div class="card-back">{{ card.word }}</div>
    </div>
  </div>
</div>
